body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
header{
    background-image: url(list-of-properties/etienne-beauregard-riverin-B0aCvAVSX8E-unsplash\ \(1\).jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}
h1{
    /* position: absolute; */
    height: 214px;
    /* width: 584px; */
    top: 291px;
}

#topnav{
    /* background-color: #333; */
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: white 1px solid;
    
}
header > #topnav{
    margin-right: 40px;
    margin-left: 60px;
}
#topnav a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#writeup{
    position: absolute;
    top: 140px;
    left: 50px;
    /* background-color: #F4511E; */
    color: white;
    font-size: large;
    text-transform: capitalize;
}

h3{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: -0.642075px;
    text-transform: capitalize;
    padding: 5px;
    color: #000000;
    margin: 0px;
}

.roomfee {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.642075px;
    text-transform: capitalize;
    color: #F4511E;
}

#table{
    border-collapse: collapse;
    width: 100%;
    max-width: 6.65cm;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 5%;
}
td{
    text-align: center;
}
#table img{
    justify-items: center;
}

#minimum{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#fiRst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#minimum-logo{
    display: grid;
    grid-template-columns: auto auto auto;
}
#minimum-img{
    margin-left: 50px;
    width: 300px;
    margin-top: 50px;
}

#minimum-img h4{
    margin-bottom: -60px;
    margin-right: -80px;
    margin-left: 30px;
}

.minimum-icon{
    text-align: left;
    justify-content: left;
    font-size: 18px;
    padding: 15px;
}

.mini-img{
    width: 15rem;
    height: 30em;
    padding-bottom: 30px;
}
p.logobox{
    text-align: left;
    justify-content: left;
    line-height: 15px;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: capitalize;
}
.l-icon{
    padding-right: 15px;
}
.logobox img{
    box-sizing: border-box;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    height: 50px;
}

#second{
    /* width: 100%; */
    background-color:#F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

/* #listimg{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
} */

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
  
a:hover {
    background-color: #ddd;
    color: black;
}
  
.previous {
    background-color: #f1f1f1;
    color: black;
    border-radius: 2px;
}
  
.next {
    background-color: #F4511E;
    color: white;
    border-radius: 2px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    text-align: left;
    border-radius: 4%;
    box-sizing: border-box;
    height: 360px;
    margin: 5px;
}

.card-img{
    width: 100%;
    height: 100%;
}

#listheading{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 2rem 0;
}
  
.title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
     font-size: 18px;
    line-height: 15px;
    letter-spacing: -0.642075px;
    text-transform: capitalize;
    margin: 0px;
    color: #818181;
    padding: 5px;
}
.btn{
    background-color: #F4511E;
    border: none;
    border-radius: 2px;
    width: 170px;
    cursor: pointer;
    color: white;
}

#listofprops #scrollbar{
    position: relative;
    left: 15rem;
    padding: 20px;
    margin: 30px;
}

#flixibility{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    margin-top: 30px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.4px;
}
.column{
    -ms-flex: 50%;
    flex: 50%;
    padding: 0.4px;
}
.column img{
    margin: 5px;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 5px;
}
.flex{
    float: left;
}

.back{
    width: 50%;
}

.front{
    width: 40%;
}

#flexibiltybtn button{
    padding: 10px;
}

form{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 60px;
    border-radius: 5px;
    margin: 20px;
}

form #h5{
    text-align: center;
    color: #F4511E;
    font-size: larger;
}
#formdiv{
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
}
label {
    font-size: 18px;
    padding: 20px;
}

input, select {
    margin: 8px, 0px;
    padding: 12px, 2px;
    width: 80%;
    height: 30px;
    display: inline-block;
    border: 1px, solid, #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    /* padding is within the border */
    outline-color: rgb(243, 102, 14);
    outline-width: 5%;
}
select option {
    height: 30px;
    border-bottom: 1px, solid, rgb(243, 102, 14);
}

#description {
    margin-top: 10px;
    padding: 10px;
}

textarea {
    width: 95%;
    height: 150px;
    font-size: 16px;
    padding-left: 10px;
    outline-color: #F4511E;
    margin-top: 5px;
    resize: none;
    font-family:Arial, Helvetica, sans-serif;
}

#photo{
    border: 3px solid #F4511E;
    border-style: dashed;
    text-align: center;
    /* width: 80%; */
    margin: 10px;
}

.fieldset{
    border: none;
}

form #btndiv{
    text-align: center;
    padding: 20px;
}
#button{
    padding: 15px;
    width: 30%;
}

input[type="file"]{
    display: none;
}
.image-display{
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.upload-button{
    display: inline-block;
    position: relative;
    font-size: 15px;
    padding: 0px;
    cursor: pointer;
}
#third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 40px; */
}
#property{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:30px ;
}

.pfp{
    color: #F4511E;
}

#pfp{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#pfp h5{
    margin-left: 10px;
}

#elipses{
    margin: 20px;
}
#apostrophe{
    background-color:rgba(244, 81, 30, 0.07);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.paragraph{
    float: left;
    
}

.paragraph p{
    text-align: left;
    justify-content: left;
}
.left{
    width: 60%;
}
.right{
    width: 20%;
    padding-left: 20px;
}
.right img{
    display: block;
}

footer{
    border-top:1px solid #F4511E ;
    display: flex;
    flex-direction: column;
    margin: 120px;
}
#footerdiv{
    display: flex;
}
#footerlogo{
    line-height: 200px;
    height: 200px;
    text-align: center;
    width: 40rem;
}

#footerlogo p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-weight: 700;
    font-size: 50px
}
.f-icon{
    display: inline-block;
    margin-top: 10px;
}
.p-icon{
    display: inline-block;
    text-align: right;
    padding: .5em;
    word-wrap: break-word;
}
#social{
    display: flex;
    align-items: center;
}
#social img{
    padding: 10px;
}
.footerspan{
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #818181;
    
}
#footerlinks{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footerlink a{
    font-size: 13px;
}

.span{
    text-decoration: underline 3px solid #F4511E;
}